.david {
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.reforma {
    color: #fff;
}

span a {
    text-decoration: none;
    color: inherit;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}
