.servicios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.servicio {
    flex-basis: 30%;
    margin: 20px;
    text-align: center;
    color: #879891;
    padding: 20px;
    margin-top: 30px;
    text-align: justify;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .03);
}

.servicio img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.servicio h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.servicio p {
    font-size: 16px;
}

.fade-enter-active {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilo para los botones */
.btn-anterior,
.btn-siguiente {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 14px;
    margin: 0;
    /* Quita el margen para que los botones estén pegados a los extremos */
    padding: 0;
    /* Quita el espacio interior del botón */
    cursor: pointer;
    transition: color 0.3s;
}

/* Cambia el color del texto al pasar el cursor sobre los botones */
.btn-anterior:hover,
.btn-siguiente:hover {
    color: #555;
}

/* Estilo para el contenedor de botones */
.botones-imagen {
    display: flex;
    /* Activa el diseño flexible */
    justify-content: space-between;
    /* Distribuye los elementos al principio y al final del contenedor */
    margin-top: 10px;
    /* Añade un margen superior para separar los botones de la tarjeta */
}


@media (max-width: 768px) {
    .servicio {
        flex-basis: 45%;
    }

    .servicios-container {
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .servicio {
        flex-basis: 100%;
        max-width: 300px;
    }
}