#root {
    background-color: #d2d7db;
    position: relative;
    z-index: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-top-color: #00BFFF;
    animation: spin 6s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
